.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.counter,
.timer {
  font-size: 50px;
  color: #fff;
}
.counter span {
  color: #aca6a6;
}

.button {
  cursor: pointer;
  background: #567fed;
  border-radius: 10px;
  font-size: 30px;
  padding: 7px 20px;

  transition: opacity .4s ease;
}

.button.hide{
  cursor: default;
  opacity: .5;
}

@media (max-width: 500px) {
  .counter,
  .timer {
    font-size: 30px;
  }
  .button{
    font-size: 15px;
  }
}
